header {
    border: 1px solid black;
    background-color: #ECC1AF;
    border-radius: 20px;
    padding: 0;
    margin: auto;
    box-shadow: 2px 2px 2px;
}

header ul {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    border: 1px solid darkblue;
    background-color: green;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    padding: 2px 8px;
    list-style: none;
}

header ul li a { 
    text-decoration: none;
    color: inherit;
}

header ul li a:hover {
    color: #ececec;
    opacity: 0.8;
}

header ul li.signup {
    background-color: blue;
}

header ul li.userimage {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
}

header ul li img {
    align-items: center;
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

h1 {
    color: blue;
}

h2 {
    color: darkblue;
}