header {
    border: 1px solid black;
    background-color: #ECC1AF;
    border-radius: 20px;
    padding: 0;
    margin: auto;
    box-shadow: 2px 2px 2px;
}

header ul{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    border: 1px solid darkblue;
    background-color: green;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    padding: 2px 8px;
    list-style: none;
}

header ul li.signup {
    background-color: blue;
}

header ul li.userimage {
    width: 30px;
    height: 30px;
    padding: 0 0;
    border-radius: 50%;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
}
header ul li img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

h1 {
    color: blue;
}

div.search {
    display: flex;
    justify-content: right;
}
div button {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

div button img {
    width: 30px;
    height: 30px;
}
div input {
    height: 30px;
}

div.cards {
    border: 5px blue;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    padding: 40px;
    display: flex;
}

div.card {
    position: relative;
    background-color: #DAFFD9;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;
    width: 48%
}

img.logo {
    position: absolute;
    width: 40px;
    top: 30px;
    right: 20px;
}

footer.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    transition: all 2s;
    box-shadow: 2px 2px 2px;
}
.card:hover {
    transform: scale(1.1);
}